.filter_container input.filter {
	background-color:rgba(255, 255, 255, 0.2);	
	border:1px solid rgba(255, 255, 255, 0.3);
	padding:0.3em;
	width:15em;
}
.filter_container .num_hidden {
	font-size: 0.9em;
}
.filter_container button.bare {
	padding:0.1em 0.2em;
	position: relative;
	left:-2.3em;
	top:0.05em;
	background-color:rgba(255, 255, 255, 0.3);
}